# Visual Studio cache
.vs/

# Build output folders
**/bin/
**/obj/

# User-specific files
*.user
*.suo

# Debug and release folders
**/Debug/
**/Release/

# Publish output
**/publish/

# Docker artifacts (optional)
**/Docker/